/* p{
    color: blueviolet;
}

#veg1{
    background-color: cadetblue
}

#veg2{
    background-color: bisque;
}
.fruit{
    background-color: crimson;
}

.veg{
    background-color: cornsilk;
} */


.static{
    position: static;
    background-color: burlywood;
}